:root{
    --mainEng-font:"Montserrat";
    --mainKor-font:"맑은 고딕";
    --mainNum-font:"GmarketSansMedium";

    --mainBg-color:#f3ede8;
    --subBg1:#cdc0b1;
    --subBg2:#afa395;
    --subBg3:#81887c;
    --subBg4:#afa7a2;
    --subBg5:#a6afa2;

    --white:#fff;
    --black:#090909;
    --black1:#2b2b2b;
    --black2:#434343;
    --black3:#686868;
    --black4:#e0e0e0;

    font-family: var(--mainEng-font), var(--mainKor-font);
    font-size: 16px;
    line-height: 1.6;
    font-weight: 400;

    text-rendering: optimizeLegibility; /* 텍스트 브라우저 렌더링시 가독성 최적화 */    
    font-synthesis: none; /* 이탤릭,볼드 지정폰트 없는 경우 대체 폰트 없이 스타일 유지 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%; /* 기본 텍스트 크기 유지 */ 

    @media(max-width){
        font-size: 14px;
        line-height: 1.4;
    }
}